<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oh.momozzi.recipe.dao.RecipeMapper">
    <select id="selectRecipeTotal" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_RECIPE
    </select>
    <select id="selectRecipeTotalRecommend" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_RECIPE
         WHERE RECOMMEND_STATUS = 'Y'
    </select>
    <select id="selectRecipeListWithPaging" parameterType="com.oh.momozzi.common.paging.SelectCriteria" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_ID,
            TM.MEMBER_NAME,
            TR.CATEGORY_NO,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.RECIPE_IMAGE_URL,
            TR.REG_DATE
          FROM TBL_RECIPE TR
          JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
          JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
         ORDER BY TR.RECIPE_NO DESC
         LIMIT ${ startRow - 1 }, #{ limit }
    </select>
    <select id="selectRecipeListWithPagingRecommended" parameterType="com.oh.momozzi.common.paging.SelectCriteria" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_ID,
            TM.MEMBER_NAME,
            TR.CATEGORY_NO,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.RECIPE_IMAGE_URL,
            TR.REG_DATE
          FROM TBL_RECIPE TR
          JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
          JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
         WHERE TR.RECOMMEND_STATUS = 'Y'
         ORDER BY TR.RECIPE_NO DESC
         LIMIT ${ startRow - 1 }, #{ limit }
    </select>
    <select id="selectRecipeTopThree" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_ID,
            TM.MEMBER_NAME,
            TR.CATEGORY_NO,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.RECIPE_IMAGE_URL,
            TR.REG_DATE
         FROM TBL_RECIPE TR
         JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
         JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
        ORDER BY TR.THUMBSUP_NUM DESC
        LIMIT 0, 3
    </select>
    <select id="selectRecipe" parameterType="String" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_ID,
            TM.MEMBER_NAME,
            TR.CATEGORY_NO,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.RECIPE_IMAGE_URL,
            TR.REG_DATE
          FROM TBL_RECIPE TR
          JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
          JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
         WHERE TR.RECIPE_NO = #{ recipeNo }
    </select>
    <update id="updateViewNum" parameterType="String">
        UPDATE TBL_RECIPE
           SET VIEW_NUM = VIEW_NUM + 1
         WHERE RECIPE_NO = #{ recipeNo }
    </update>
    <insert id="insertRecipe" parameterType="RecipeDto">
        INSERT INTO TBL_RECIPE
        (
         RECIPE_NAME,
         MEMBER_CODE,
         CATEGORY_NO,
         INGREDIENTS,
         RECIPE_BODY,
         VIEW_NUM,
         THUMBSUP_NUM,
         RECOMMEND_STATUS,
         RECIPE_IMAGE_URL,
         REG_DATE
        )
        VALUES
        (
         #{ recipeName },
         #{ memberCode },
         #{ categoryNo },
         #{ ingredients },
         #{ recipeBody },
         DEFAULT,
         DEFAULT,
         DEFAULT,
         #{ recipeImageUrl },
         DEFAULT
        )
    </insert>
    <update id="updateRecipeForRecommend" parameterType="String">
        UPDATE TBL_RECIPE
           SET RECOMMEND_STATUS = 'Y'
         WHERE RECIPE_NO = #{ recipeNo }
    </update>
    <update id="updateRecipeForThumbsUp" parameterType="String">
        UPDATE TBL_RECIPE
           SET THUMBSUP_NUM = THUMBSUP_NUM + 1
         WHERE RECIPE_NO = #{ recipeNo }
    </update>
    <update id="updateRecipe" parameterType="RecipeDto">
        UPDATE TBL_RECIPE
        <trim prefix="SET" suffixOverrides=",">
            RECIPE_IMAGE_URL = #{ recipeImageUrl },
            <if test="recipeName != null">
                RECIPE_NAME = #{ recipeName },
            </if>
            <if test="categoryNo != null">
                CATEGORY_NO = #{ categoryNo },
            </if>
            <if test="ingredients != null">
                INGREDIENTS = #{ ingredients },
            </if>
            <if test="recipeBody != null">
                RECIPE_BODY = #{ recipeBody },
            </if>
        </trim>
         WHERE RECIPE_NO = #{ recipeNo }
    </update>
    <delete id="deleteRecipe" parameterType="String">
        DELETE FROM TBL_RECIPE
         WHERE RECIPE_NO = #{ recipeNo }
    </delete>
    <select id="selectRecipeTotalByCategory" parameterType="String" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_RECIPE
         WHERE CATEGORY_NO = #{ categoryNo }
    </select>
    <select id="selectRecipeByCategoryWithPaging" parameterType="com.oh.momozzi.common.paging.SelectCriteria" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_ID,
            TM.MEMBER_NAME,
            TR.CATEGORY_NO,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.RECIPE_IMAGE_URL,
            TR.REG_DATE
          FROM TBL_RECIPE TR
          JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
          JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
         WHERE TR.CATEGORY_NO = #{ categoryNo }
         ORDER BY TR.RECIPE_NO DESC
         LIMIT ${ startRow - 1 }, #{ limit }
    </select>
    <select id="selectRecipeRandom" resultType="RecipeDto">
        SELECT
            RECIPE_NO,
            RECIPE_NAME,
            RECIPE_IMAGE_URL
          FROM TBL_RECIPE
         ORDER BY RAND()
          LIMIT 1
    </select>
    <select id="selectRecipeRecommendRandom" resultType="RecipeDto">
        SELECT
            RECIPE_NO,
            RECIPE_NAME,
            RECIPE_IMAGE_URL
         FROM TBL_RECIPE
        WHERE RECOMMEND_STATUS = 'Y'
        ORDER BY RAND()
         LIMIT 1
    </select>
    <insert id="insertMyRecipe" parameterType="HashMap">
        INSERT INTO TBL_MY_RECIPE
            (
             RECIPE_NO,
             MEMBER_CODE
            )
        VALUES
            (
             #{ recipeNo },
             #{ memberCode }
            )
    </insert>
</mapper>