<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oh.momozzi.recipe.dao.RecipeMapper">
    <select id="selectRecipeTotal" resultType="_int">
        SELECT
            COUNT(*)
          FROM TBL_RECIPE
    </select>
    <select id="selectRecipeListWithPaging" parameterType="com.oh.momozzi.common.paging.SelectCriteria" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_NAME,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.IMG_URL,
            TR.REG_DATE
          FROM TBL_RECIPE TR
          JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
          JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
         ORDER BY TR.RECIPE_NO DESC
         LIMIT #{ startRow }, #{ limit }
    </select>
    <select id="selectRecipe" parameterType="String" resultType="RecipeDto">
        SELECT
            TR.RECIPE_NO,
            TR.RECIPE_NAME,
            TM.MEMBER_NAME,
            TC.CATEGORY_NAME,
            TR.INGREDIENTS,
            TR.RECIPE_BODY,
            TR.VIEW_NUM,
            TR.THUMBSUP_NUM,
            TR.RECOMMEND_STATUS,
            TR.IMG_URL,
            TR.REG_DATE
          FROM TBL_RECIPE TR
                 JOIN TBL_MEMBER TM ON TR.MEMBER_CODE = TM.MEMBER_CODE
                 JOIN TBL_CATEGORY TC ON TR.CATEGORY_NO = TC.CATEGORY_NO
         WHERE TR.RECIPE_NO = #{ recipeNo }
    </select>
</mapper>